adf-json-root/pipeline/PL-SQLDB-TO-ADLS.json
{
	"name": "PL-SQLDB-TO-ADLS",
	"properties": {
		"description": "This pipeline will get the list of the objects/table and load data in the ADLS container according to its load type. The objects are queried from the metadata config table and retrieve the objects where copyEnabled is true and the top level pipeline is PL-SQLDB-TO-ADLS.",
		"activities": [
			{
				"name": "GetObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.MainControlTableName}\n                             where TopLevelPipelineName = '@{pipeline().parameters.TopLevelPipelineName}'\n                             and CopyEnabled = 1\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MetadataDrivenCopyTask_yvs_ControlDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetObjects').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load.",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{item().SourceObjectSchema}.@{item().SourceObjectTable}"
													},
													{
														"name": "Destination",
														"value": "@{item().SinkObjectFileSystem}/@{item().SinkObjectFolderPath}/@{item().SinkObjectFileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@item().sqlReaderQuery",
															"type": "Expression"
														},
														"partitionOption": "None",
														"partitionSettings": {
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_yvs_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@item().SourceObjectSchema\n",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@item().SourceObjectTable\n",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_yvs_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@item().SinkObjectFileName\n",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@item().SinkObjectFolderPath\n",
																"type": "Expression"
															},
															"cw_fileSystem": {
																"value": "@item().SinkObjectFileSystem\n",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "FullLoadOneObject_copy1",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{item().SourceObjectSchema}.@{item().SourceObjectTable}"
													},
													{
														"name": "Destination",
														"value": "@{item().SinkObjectFileSystem}/@{item().SinkObjectFolderPath}/@{item().SinkObjectFileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@item().sqlReaderQuery",
															"type": "Expression"
														},
														"partitionOption": "None",
														"partitionSettings": {
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_yvs_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@item().SourceObjectSchema\n",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@item().SourceObjectTable\n",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_yvs_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@item().SinkObjectFileName\n",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@item().SinkObjectFolderPath\n",
																"type": "Expression"
															},
															"cw_fileSystem": {
																"value": "@item().SinkObjectFileSystem\n",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "DeltaLoad",
										"activities": [
											{
												"name": "GetMaxWatermarkValue",
												"description": "Query the source object to get the max value from watermark column",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select max(@{item().watermarkColumnName}) as CurrentMaxWaterMarkColumnValue from [@{item().SourceObjectSchema}].[@{item().SourceObjectTable}]",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "MetadataDrivenCopyTask_yvs_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@item().SourceObjectSchema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@item().SourceObjectTable",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "DeltaLoadOneObject",
												"description": "Copy the changed data only from last time via comparing the value in watermark column to identify changes.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GetMaxWatermarkValue",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{item().SourceObjectSchema}.@{item().SourceObjectTable}"
													},
													{
														"name": "Destination",
														"value": "@{item().SinkObjectFileSystem}/@{item().SinkObjectFolderPath}/@{item().SinkObjectFileName}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select * from [@{json(item().SourceObjectSettings).schema}].[@{json(item().SourceObjectSettings).table}] \n    where [@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}] > @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, \n    concat('''', json(item().DataLoadingBehaviorSettings).watermarkColumnStartValue, ''''))}\n    and [@{json(item().DataLoadingBehaviorSettings).watermarkColumnName}] <= @{if(contains(json(item().DataLoadingBehaviorSettings).watermarkColumnType, 'Int'),\n    activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, \n    concat('''', activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue, ''''))}",
															"type": "Expression"
														},
														"partitionOption": "None",
														"partitionSettings": {
															"partitionNames": "@json(item().CopySourceSettings).partitionNames"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "MergeFiles"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_yvs_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@item().SourceObjectSchema\n",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@item().SourceObjectTable\n",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_yvs_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_fileName": {
																"value": "@item().SinkObjectFileName\n",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@item().SinkObjectFolderPath\n",
																"type": "Expression"
															},
															"cw_fileSystem": {
																"value": "@item().SinkObjectFileSystem\n",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "UpdateWatermarkColumnValue",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "DeltaLoadOneObject",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[UpdateWatermarkMaxValue]",
													"storedProcedureParameters": {
														"Id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"watermarkColumnMaxValue": {
															"value": {
																"value": "@activity('GetMaxWatermarkValue').output.firstRow.CurrentMaxWaterMarkColumnValue",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDBMetadata",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultFullLoadOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{item().SourceObjectSchema}.@{item().SourceObjectTable}"
											},
											{
												"name": "Destination",
												"value": "@{item().SinkObjectFileSystem}/@{item().SinkObjectFolderPath}/@{item().SinkObjectFileName}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@item().sqlReaderQuery",
													"type": "Expression"
												},
												"partitionOption": "None",
												"partitionSettings": {
													"partitionNames": "@json(item().CopySourceSettings).partitionNames"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"validateDataConsistency": false,
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_yvs_SourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@item().SourceObjectSchema\n",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@item().SourceObjectTable\n",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_yvs_DestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_fileName": {
														"value": "@item().SinkObjectFileName\n",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@item().SinkObjectFolderPath\n",
														"type": "Expression"
													},
													"cw_fileSystem": {
														"value": "@item().SinkObjectFileSystem\n",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "RouteJobsBasedOnLoadingBehavior",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL-ADLS-to-Delta",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_path": {
										"value": "@item().SinkObjectFileName",
										"type": "Expression"
									},
									"target_table": {
										"value": "@item().SourceObjectTable",
										"type": "Expression"
									},
									"load_type": {
										"value": "@item().dataLoadingBehavior",
										"type": "Expression"
									},
									"watermarkstart": {
										"value": "@item().watermarkColumnStartValue",
										"type": "Expression"
									},
									"watermarkmax": {
										"value": "@item().watermarkColumnMaxValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MaxNumberOfObjectsReturnedFromLookupActivity": {
				"type": "int",
				"defaultValue": 20
			},
			"MainControlTableName": {
				"type": "string",
				"defaultValue": "dbo.MainControlTable_config"
			},
			"TopLevelPipelineName": {
				"type": "string",
				"defaultValue": "PL-SQLDB-TO-ADLS"
			}
		},
		"annotations": []
	}
}